*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.main_container{
  max-width: 1200px;
  margin: auto;
}
html,
body {
  width: 100vw;
}
body {
  background-color: white;
}

#slide {
  position: relative;
}
.wrapper {
  display: flex;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 91vw;
  margin: auto;
  border-radius: 1rem;
}

.js .slide-list {
  display: flex;
  overflow-x: initial;
}
.slide-list {
  display: flex;
  overflow-x: scroll;
}
.slide-item {
  cursor: grab;
  flex-shrink: 0;
  width: 100vw;
}
.slide-content {
  position: relative;
  width: 100%;
  height: 440px;

}
.slide-image {
  width: 100%;
  height: 100%;
}
.slide-nav-button {
  border-radius: 100%;
  box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
  cursor: pointer;
  background: transparent;
  color: rgb(131, 130, 130);
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.slide-nav-button:hover {
  transform: translateY(5%);
}
.slide-nav-previous {
  left: 7rem;
}
.slide-nav-next {
  right: 7rem;
}
.slide .active {
  color: #8d9895;
  border-radius: 50%;
}
.slide-controls {
  position: absolute;
  align-self: center;
  bottom: 1rem;
  opacity: 0;
}
.slide-controls button {
  font-size: 10px;
  margin: 0 0.3rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.027);
}

.slide-control-button.active {
  color: transparent;
  width: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1024px) {
  .slide-nav-previous {
    left: 5rem;
  }
  .slide-nav-next {
    right: 5rem;
  }
  .slide-content {
    position: relative;
    width: 100%;
    height: auto;
  }
  #slide {
    margin-top: -4rem;
  }
  .slide-controls {
    margin-top: 30rem;
  }
  .slide-image {
    height: 333px;
  }
}

@media (max-width: 600px) {
  .slide-controls {
    margin-top: 8rem;
  }
  .slide-image {
    width: 100%;
    height: 150px;
    object-fit:cover;
  }
  .slide-nav-button {
    background-color: hsla(0,0%,100%,.6);
    box-shadow: none;
    width: 3rem;
    height: 3rem;
  }
  .category_choice button h1 {
    font-size: 13px;
}
}
@media(max-width:400px){
.slide-image {
  width: 100%;
  height: 140px;
  object-fit: contain;
}
.slide-nav-previous {
  left: 3rem;
}
.slide-nav-next {
  right: 2.5rem;
}
}
